<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924196537768-pl48oq376mdu04hp6beuku7s6r115cgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924196537768-pl48oq376mdu04hp6beuku7s6r115cgr</string>
	<key>API_KEY</key>
	<string>AIzaSyAJJnBmmsW5c7ERhDQzhR0jRw-2zMRmJXs</string>
	<key>GCM_SENDER_ID</key>
	<string>924196537768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anessapetteruti.LangBrain</string>
	<key>PROJECT_ID</key>
	<string>langbrain-c3102</string>
	<key>STORAGE_BUCKET</key>
	<string>langbrain-c3102.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924196537768:ios:21e92f9265a92b21</string>
	<key>DATABASE_URL</key>
	<string>https://langbrain-c3102.firebaseio.com</string>
</dict>
</plist>